/* BURGER MENU */

.line {
    transition: transform 0.75s ease, opacity 0.75s ease;
}

/* when the class "body-nav" has .shown in it change each line like this*/
.body-nav.show .line1 {
    transform: translate(-11px) rotate(45deg) translate(14px);
  }
.body-nav.show .line2 {
    opacity: 0;
  }
.body-nav.show .line3 {
    transform: translate(-11px) rotate(-45deg) translate(14px);
  }
/* makes sure that the nav-links comes out*/
.body-nav.show .nav-links {
    transform: translate(0);
}


.gridbox:hover h2 {
  opacity: 0;
}
.gridbox:hover h3 {
  opacity: 0;
}
.hidden {
  opacity: 0;
}
.gridbox:hover .hidden {
  opacity: 1;
}
.gridbox h2, h3 {
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.gridbox .hidden {
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.hidden {
  padding-left: 15%;
  
}

.disapear {
    animation-name: disapear_kf;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    
}
@keyframes disapear_kf {
    0% {

        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.hide {
    display: none;
}

@media (max-width: 600px) {
    .nav-links {
        transform: translate(100%);
        transition: transform 1s ease;
    }
    .body-nav.show .nav-links {
        
    }
}

.shrink {
  animation-name: shrink_kf;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
@keyframes shrink_kf {
  0% {
      transform: scale(0.65);

  }
  100% {
      transform: scale(1);

  }
}

.move {
  animation-name: move_kf;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-fill-mode: forwards;
}
@keyframes move_kf {
  0% {
      transform: translate(0, 0)
  }
  100% {
    transform: translate(0, 60%)
  }

}
.moveback {
  animation-name: moveback_kf;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-fill-mode: forwards;
}
@keyframes moveback_kf {
  0% {
    transform: translate(0, 60%)
      
  }
  100% {
    transform: translate(0, 0)
  }

}

/* Create a sticky header */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }
